@page "/hasta-ekle"
@using SAT242516005.Data
@using Microsoft.Extensions.Localization
@using SAT242516005.Localization
@inject MyDbContext db
@inject NavigationManager nav
@inject IStringLocalizer<AppResource> L

<div class="container mt-3">
    <h3>@L["Yeni Hasta Kaydı"]</h3>

    <EditForm Model="h" OnValidSubmit="Kaydet">
        <DataAnnotationsValidator />

        <div class="mb-3">
            <label>@L["Ad"]</label>
            <InputText class="form-control" @bind-Value="h.Ad" />
        </div>

        <div class="mb-3">
            <label>@L["Soyad"]</label>
            <InputText class="form-control" @bind-Value="h.Soyad" />
        </div>

        <div class="mb-3">
            <label>@L["Doğum Tarihi"]</label>
            <InputDate class="form-control" @bind-Value="h.DogumTarihi" />
        </div>

        <button type="submit" class="btn btn-primary">@L["Kaydet"]</button>
        <button type="button" class="btn btn-secondary" @onclick='() => nav.NavigateTo("/hasta-liste")'>@L["İptal"]</button>
    </EditForm>
</div>

@code {
    Hasta h = new();

    async Task Kaydet()
    {
        try
        {
            db.Hastalar.Add(h);
            await db.SaveChangesAsync();
            nav.NavigateTo("/hasta-liste");
        }
        catch (Exception ex)
        {
            Console.WriteLine("Hasta Kayıt Hatası: " + ex.Message);
        }
    }
}